# Configuración del Backend para CanchaYA (API Gateway - Nginx)
VITE_API_BASE_URL=http://localhost:9090

# AWS Cognito Configuration
VITE_COGNITO_USER_POOL_ID=YOUR_USER_POOL_ID
VITE_COGNITO_CLIENT_ID=YOUR_CLIENT_ID
